<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoibGlubmVhc2FuZHNqbyIsImEiOiJjbWZ1OGM0cWYwcmxyMmxvaGo5am9nemZ4In0.pFA1AiPL5BCwiHgZ3_vy1g</string>
</dict>
</plist>
